.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}
img.avatar{
  height: 130px;
}

.layout {
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/40/c7/12/40c712e5f3833bc38dbe1213da27069e.jpg');
  padding-bottom: 20px;
}
